#brand {
    color: black !important;
  }

img {
    max-width: 100% !important;
    max-height: 100% !important;
}

#logo {
    max-width: 40% !important;
    max-height:40% !important;
}

@media (max-width: 768px) {
    .navbar {
        font-size: 12px; 
    }
}

@media (max-width: 350px) {
    .navbar {
        font-size: 11px; 
        
    }
    #text-header {
        font-size: 100%;
    }
}


.navbar {
     max-height: 100%;
    width: 100% !important;
    align-items: flex-end;
    background-color: rgb(60, 158, 60);
    color: black;
    overflow: hidden;    
}

.navbar a {
    color: blue !important;
}

.navbar-nav {
    display: flex;
    align-items: flex-end; 
    gap: 30px;
}

.row {
    min-height: 10vh;
    display: flex;
    align-items: stretch ;
}

#search {
    color: black !important;
    border: 2px solid black !important;
}

#textHeader {
    color: black !important;
    font-size: x-large;
    font-style:unset;
}


